.receita__botao {
    background: #8D0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.receita__botao:hover {
    background: #c60707;
}